@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


/* CSS Variables you can reference everywhere, in case you need to change blanket values across the board */
:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
}

[data-theme="dark"]{
    --mainTextColor:#fff;
    --secondaryTextColor:#adb0b1;
    --mainLinkColor:rgb(30, 190,214);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;
}
/* 
Styling everything on the page */
*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);

}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1.1em;
}

/* Syling links */
a{
    text-decoration: underline;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

/* "Margin 0 auto" centers */
#container--main{
    max-width: 1300px;
    margin: 0 auto;
}

#banner--header{
    padding: .5em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Flex will inline everything, puts it all left to right */
#wrapper--hero{
    display: flex;
    justify-content: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
    
}

#user-name{
    font-size: 48px;
    line-height: 1em;
    text-align: center;
    
}

#profile-pic{
    display: flex;
    width: 60%;
    height: 60%;
    margin: auto;

    /* border-radius: 50%; */
}

#email{
    text-align: center;
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--mainBorderColor);
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
    
}

#qualifications--list{
    
    list-style: square;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

/* .card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
} */

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

#project1--pic{
    width: 70%;
    height: 70%;
    object-fit: cover;
    /* border-radius: 100%; */
}

/* Media query because at about 600px things atart breaking, so we are doing other stuff instead at that point */

@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }


    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}